<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ImpulsExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>

   <add key="Nobm_Warennummern" value="61119019,61112090,61119090,65059080,61178080,62099010,62092000,61149000,65050090,61171000,49111010,34029090,96190050" />
   <add key="Ausfuhrzollstelle" value="DE009530" />
   <add key="Ausgangszollstelle" value="DE009530" />
   <add key="AESImportPfad" value="C:\\AESIMPORT" />
   <add key="Ausfuhrland" value="DE" />
   <add key="BTGkonst=0000" value="DE" />
   <add key="PostIso" value="RUS-RU,CDN-CA,USA-US" />
    
  </appSettings>


  <userSettings>
    <ImpulsExport.Properties.Settings>
      <setting name="Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Telefon" serializeAs="String">
        <value>07121 / 387877</value>
      </setting>
      <setting name="Stellenbeschreibung" serializeAs="String">
        <value>Versandsacharbeiter Export</value>
      </setting>
      <setting name="Strasse" serializeAs="String">
        <value>Wörthstrasse 155</value>
      </setting>
      <setting name="PLZ" serializeAs="String">
        <value>72793</value>
      </setting>
      <setting name="Ort" serializeAs="String">
        <value>Pfullingen</value>
      </setting>
      <setting name="Land" serializeAs="String">
        <value>DE</value>
      </setting>
      <setting name="Firma" serializeAs="String">
        <value>Engel GmbH</value>
      </setting>
      <setting name="Lade_Ort" serializeAs="String">
        <value>Pfullingen</value>
      </setting>
      <setting name="Lade_Strasse" serializeAs="String">
        <value>Wörthstrasse 155</value>
      </setting>
      <setting name="Lade_PLZ" serializeAs="String">
        <value>72793</value>
      </setting>
      <setting name="Lade_Zusatz" serializeAs="String">
        <value>Warenausgang Fa. Engel</value>
      </setting>
      <setting name="Ausfuhrland" serializeAs="String">
        <value>DE</value>
      </setting>
      <setting name="Ausfuhr_Zollstelle" serializeAs="String">
        <value>DE009530</value>
      </setting>
      <setting name="TIN" serializeAs="String">
        <value>DE2913372</value>
      </setting>
      <setting name="Beteiligtenkonst" serializeAs="String">
        <value>0000</value>
      </setting>
      <setting name="Verkehrszweig" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Staatszugeh" serializeAs="String">
        <value>DE</value>
      </setting>
      <setting name="Art" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="Waehrung" serializeAs="String">
        <value>EUR</value>
      </setting>
      <setting name="zusammenfassen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="statistischer" serializeAs="String">
        <value>10</value>
      </setting>
    </ImpulsExport.Properties.Settings>
  </userSettings>
</configuration>


